# Arquivos e diretórios padrões a serem ignorados em projetos .NET Core

## Arquivos de compilação
bin/
obj/

## Arquivos temporários
*.dll
*.pdb
*.exe
*.xml
*.json

## Arquivos de usuário
*.user
*.userosscache
*.suo
*.userprefs

## Arquivos de logs
*.log

## Diretório de publicação
pub/
